@model CRUD___MVC___NET_5.Models.Vehicle
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="Id" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="marca" class="control-label"></label>
                    <input asp-for="marca" class="form-control" />
                    <span asp-validation-for="marca" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="color" class="control-label"></label>
                    <input asp-for="color" class="form-control" />
                    <span asp-validation-for="color" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="kilometraje" class="control-label"></label>
                    <input asp-for="kilometraje" class="form-control" />
                    <span asp-validation-for="kilometraje" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AñoDeLanzamineto" class="control-label"></label>
                    <input asp-for="AñoDeLanzamineto" class="form-control" />
                    <span asp-validation-for="AñoDeLanzamineto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}